<style>
	.demo-card-header-pic .card-header {
		height: 128px;
		background-size: cover;
		background-position: center;
	}
</style>
<div class="card-box">
	<volist name="list" id="data">
		<div class="card demo-card-header-pic">
			<div style="background-image:url({$data.cover_id|get_cover='path'})" valign="bottom" class="card-header color-white no-border"></div>
			<div class="card-content">
				<div class="card-content-inner">
					<p class="color-gray">
						<span>活动开始时间:{$data.create_time|date='Y-m-d',###}</span><br/>
						<span>活动结束时间:{$data.deadline|date='Y-m-d',###}</span>
					</p>
					<p>{$data.description}</p>
				</div>
			</div>
			<div class="card-footer">
				<a href="#">阅读（{$data.view}）</a>
				<a href="{:U('Article/detail?id='.$data['id'])}" class="link">查看详情</a>
			</div>
		</div>
	</volist>
</div>