<!--一级导航频道模型-->
<extend name="Base/common"/>
<block name="seo">
	<title>{$category.meta_title}</title>
	<meta name="keywords" content="{$category.keywords}" />
	<meta name="description" content="{$category.description}" />
</block>
<block name="navbar">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="center sliding">{$category.title}</div>
			<div class="right">
				<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
			</div>
		</div>
	</div>
</block>
<block name="page">
	<div class="pages navbar-through toolbar-through">
		<div data-page="index" class="page">
			<div class="page-content hide-bars-on-scroll">
				<div class="list-block media-list">
					<!--调用该栏目下级栏目分类-->
					{:W('Category/secondcate')}
				</div>
			</div>
		</div>
	</div>
</block>